/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.centrado{
    margin-left: 50%;
}
.trafficLight {
  background: black;
  padding: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-inline: 50%;
  margin-left: -50px; 
  border-radius:22px;
}

.cable {
  background-color: black;
  justify-content: center;
  left: 50%;
  transform: translateX(50%);
  width: 10px;
  height: 100px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: blue;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.bright {
  box-shadow: 0 0 50px yellow;
}
